{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        {% if request.user.profile.onboarded == False %}
            <div class="alert alert-warning alert-icon">
                <em class="icon ni ni-alert-circle"></em> Admin Approval is <strong>pending</strong>. Please  <a href="#" class="alert-link">contact</a> support if this has taken more than 24hours.
            </div>
        {% endif %}
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Item List</h3>
                    </div><!-- .nk-block-head-content -->






                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li>
                                        <a href="#" class="btn btn-outline-light btn-white" data-toggle="modal" data-target="#instructions">Check Instructions</a>
                                    </li>
                                    <li>
                                        <a href="#" data-target="addProduct" class="toggle btn btn-outline-light btn-white" >Add Item</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->



            <div class="nk-block">
                <div class="nk-tb-list is-separate mb-3">
                    <div class="nk-tb-item nk-tb-head">



                        <div class="nk-tb-col"><span>Name</span></div>

                        <div class="nk-tb-col"><span>Rental Rate</span></div>
                        <div class="nk-tb-col"><span>Number In Stock</span></div>
                        <div class="nk-tb-col"><span>Approval Status</span></div>
                        <!-- <div class="nk-tb-col tb-col-md"><em class="tb-asterisk icon ni ni-star-round"></em></div> -->
                        <div class="nk-tb-col nk-tb-col-tools">

                        </div>
                    </div><!-- .nk-tb-item -->

                    {% if all_ur_items %}

                    {% for val in all_ur_items %}

                    <div class="nk-tb-item">


                        <div class="nk-tb-col">
                            <span class="tb-product">
                                <img src="{{val.thumbnailImagePath.url}}" alt="" class="thumb">
                                <span class="title">{{val.name}}</span>
                            </span>
                        </div>

                        <div class="nk-tb-col">
                            <span class="tb-lead">₦{{val.dailyRentalRate}}/day</span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{val.numberInStock}}</span>
                        </div>
                        <div class="nk-tb-col">

                            {% if val.admin_approved == True %}
                            <li><span class="badge badge-success">Approved</span></li>
                            {% else %}
                            <li><span class="badge badge-danger">Pending</span></li>
                            {% endif %}



                        </div>

                        <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1 my-n1">
                                <li class="mr-n1">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                {% if val.admin_approved == True %}
                                                <li><a href="#"><em class="icon ni ni-edit"></em><span>Please contact Admin to Edit</span></a></li>
                                                {% else %}
                                                <li><a href="{% url 'rental:item-details' val.id %}"><em class="icon ni ni-edit"></em><span>Edit Product</span></a></li>
                                                {% endif %}

                                                <!-- <li><a href="#"><em class="icon ni ni-activity-round"></em><span>Product Orders</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-trash"></em><span>Remove Product</span></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .nk-tb-item -->
                    {% endfor %}
                    {% endif %}

                </div><!-- .nk-tb-list -->

            </div><!-- .nk-block -->


            {% if messages %}
            <div class="nk-block" style="color: red; text-align: center !important;">

                        <ul class="messages">
                            {% for message in messages %}
                                {% if 'error' == message.tags %}
                                    <li>{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
            </div>
            {% endif %}



            <div  class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h5 class="nk-block-title">New Item</h5>
                        <div class="nk-block-des">
                            <p>Please read the intructions carefully before adding a new item</p>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <form action="#" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                <div class="nk-block">
                    <div class="row g-1">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="item_name">Item Name*</label>
                                <div class="form-control-wrap">
                                    <input type="text" name="item_name" class="form-control" id="item_name" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="item_desc">Item Description*</label>
                                <div class="form-control-wrap">
                                    <!-- <textarea  class="form-control" name="item_desc" id="item_desc" cols="30" rows="10" required></textarea> -->
                                    <input type="text" name="item_desc" class="form-control" id="item_desc" required>
                                </div>
                            </div>
                        </div>


                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="item_cat">Item Category*</label>
                                <div class="form-control-wrap ">
                                    <div class="form-control-select">
                                        {% if cats %}
                                        <select name="item_cat" class="form-control" id="item_cat" required>
                                            {% for val in cats %}
                                            <option value="{{val}}"> {{val}}  </option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="dailyRentalRate">Daily Rental Rate*</label>
                                <div class="form-control-wrap">
                                    <input type="number" class="form-control" min="1" name="dailyRentalRate" id="dailyRentalRate" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="numberInStock">Number In Stock*</label>
                                <div class="form-control-wrap">
                                    <input type="number" name="numberInStock" min="1" class="form-control" id="numberInStock" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="displayImagePath"> Display Image Path*</label>
                            <div class="form-control-wrap">
                                <div class="custom-file">
                                    <input name="displayImagePath" type="file" class="custom-file-input" id="displayImagePath" accept="image/*" required>
                                    <label class="custom-file-label" for="displayImagePath">Choose file</label>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="thumbnailImagePath"> Thumbnail Image Path* </label>
                                <div class="form-control-wrap">
                                    <div class="custom-file">
                                        <input name="thumbnailImagePath" type="file" class="custom-file-input" id="thumbnailImagePath" accept="image/*" required>
                                        <label class="custom-file-label" for="thumbnailImagePath">Choose file</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-label" for="bannerImagePath"> Banner Image Path* </label>
                                <div class="form-control-wrap">
                                    <div class="custom-file">
                                        <input name="bannerImagePath" type="file" class="custom-file-input" id="bannerImagePath" accept="image/*" required>
                                        <label class="custom-file-label" for="bannerImagePath">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Submit</span></button>
                        </div>
                    </div>
                </div><!-- .nk-block -->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block modals %}
<div class="modal fade" tabindex="-1" role="dialog" id="instructions">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="title mb-4">Item Onboarding Instructions</h5>
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabItem1">Item Image sizes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem2">Item Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabItem3">Trailer Video</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabItem1">
                        <h6 class="title">displayImagePath</h6>
                        <div style="border: solid whitesmoke;" class="container">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        </div>
                        <p>Display image must be square ( 500 x 500). </p>
                        <h6 class="title" >bannerImagePath</h6>
                        <div style="border: solid whitesmoke;" class="container">
                            <img src="http://via.placeholder.com/1920x1080" alt="">
                        </div>
                        <p>Banner image must be landscape ( 1920 x 1080). </p>
                        <h6 class="title" >thumbnailImagePath</h6>
                        <div style="border: solid whitesmoke;" class="container">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        </div>
                        <p>The thumbnail image must be square ( 500 x 500) </p>

                    </div>
                    <div class="tab-pane" id="tabItem2">
                        <h6 class="title">Item Name</h6>
                        <p>The correct title of the game must be provided with specific details.</p>
                    </div>
                    <div class="tab-pane" id="tabItem3">
                        <h6 class="title">Trailer Video </h6>
                        <p>The maximum size for the trailer video has to be 9.5mb, Anything above that will be rejected</p>
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->
{% endblock modals %}

{% block extra_scripts %}

<script>
    // display image size check
    $('#displayImagePath').on('change', function() {
        const fileSize = this.files[0].size / 1024 / 1024
        console.log(fileSize)
        if (fileSize > 10){
            console.log('This file size is: ' + fileSize + "MiB");
            this.value = null;
            alert(`Image file size must be less than 9.5mb`);

        }
});


$('#thumbnailImagePath').on('change', function() {
        const fileSize = this.files[0].size / 1024 / 1024
        console.log(fileSize)
        if (fileSize > 10){
            console.log('This file size is: ' + fileSize + "MiB");
            this.value = null;
            alert(`Image file size must be less than 9.5mb`);

        }
});



$('#bannerImagePath').on('change', function() {
        const fileSize = this.files[0].size / 1024 / 1024
        console.log(fileSize)
        if (fileSize > 10){
            console.log('This file size is: ' + fileSize + "MiB");
            this.value = null;
            alert(`Image file size must be less than 9.5mb`);

        }
});
</script>

{% endblock extra_scripts %}