{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="GameOn">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GameOn">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
    <!-- Page Title  -->
    <title>{{page_title}} | GameOn Vendor</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/core_dashlite.css'%}?ver=2.9.0">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}?ver=2.9.0">
    {% block extra_head %}
    {% endblock extra_head%}
</head>

<body class="nk-body bg-white has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            <div class="nk-sidebar nk-sidebar-fixed " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="#" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img logo-img-lg" src="{% static 'images/logo/logo.png' %}" srcset="{% static 'images/logo/logo.png' %} 2x" alt="logo">
                            <img class="logo-dark logo-img logo-img-lg" src="{% static 'images/logo/logo.png' %}" srcset="{% static 'images/logo/logo.png' %} 2x" alt="logo-dark">
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-body" data-simplebar>
                        <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu">
                                <ul class="nk-menu">
                                   
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Dashboards</h6>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="/" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-grid-alt"></em></span>
                                            <span class="nk-menu-text">Shop Overview</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                  
                                  
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Applications</h6>
                                    </li><!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                                            <span class="nk-menu-text">Shop</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="{% url 'shop:item-list' %}" class="nk-menu-link"><span class="nk-menu-text">Shop Items</span></a>
                                            </li>
                                           
                                            <li class="nk-menu-item">
                                                <a href="{% url 'shop:shop-orders' %}" class="nk-menu-link"><span class="nk-menu-text">Shop Orders </span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                                            <span class="nk-menu-text">Rentals</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="{% url 'rental:item-list' %}" class="nk-menu-link"><span class="nk-menu-text">Rental Items</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="{% url 'rental:rental-orders' %}" class="nk-menu-link"><span class="nk-menu-text">Rental Order </span></a>
                                            </li>
                                            
                                            
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                   

                                   
                                   
                                   
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Vendor Account </h6>
                                    </li><!-- .nk-menu-heading -->
                                   
                                    <li class="nk-menu-item">
                                        <a href="{% url 'users:account-settings' %}" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-files"></em></span>
                                            <span class="nk-menu-text">Account Settings</span>
                                        </a>
                                       
                                    </li><!-- .nk-menu-item -->

                                </ul><!-- .nk-menu -->
                            </div><!-- .nk-sidebar-menu -->
                            <div class="nk-sidebar-footer">
                                <ul class="nk-menu nk-menu-footer">
                                    <li class="nk-menu-item">
                                        <a href="#" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-help-alt"></em></span>
                                            <span class="nk-menu-text">Support</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item ml-auto">
                                        <div class="dropup">
                                            <a href="#" class="nk-menu-link" data-toggle="dropdown" data-offset="0,10">
                                                <span class="nk-menu-icon"><em class="icon ni ni-globe"></em></span>
                                                <span class="nk-menu-text">English</span>
                                            </a>

                                        </div>
                                    </li>
                                </ul><!-- .nk-footer-menu -->
                            </div><!-- .nk-sidebar-footer -->
                        </div><!-- .nk-sidebar-content -->
                    </div><!-- .nk-sidebar-body -->
                </div><!-- .nk-sidebar-element -->
            </div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="/" class="logo-link">
                                    <img class="logo-light logo-img logo-img-lg" src="{% static 'images/logo/logo.png' %}" srcset="{% static 'images/logo/logo.png' %} 2x" alt="logo">
                                    <img class="logo-dark logo-img logo-img-lg" src="{% static 'images/logo/logo.png' %}" srcset="{% static 'images/logo/logo.png' %} 2x" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                            
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">

                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar">
                                                    <em class="icon ni ni-user-alt"></em>
                                                    <!-- <img  src="{% if request.user.profile.photo %}{{request.user.profile.photo.url}}{% endif %}" width="70%" height="auto" alt="">  -->
                                                </div>
                                                <div class="user-info d-none d-md-block">
                                                    <div class="user-status">{{request.user.profile.vendor_code}}</div>
                                                    <div class="user-name dropdown-indicator">{{request.user.profile.first_name}} {{request.user.profile.last_name}} </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div >
                                                        <img  src="{% if request.user.profile.photo %}{{request.user.profile.photo.url}}{% endif %}" width="70%" height="auto" alt=""> 
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</span>
                                                        <span class="sub-text">{{request.user.email}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">

                                                    <li><a href="{% url 'users:account-settings' %}"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
     
                                                    <!-- <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li> -->
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'account_logout' %}"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                   
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->

                {% block content %}

                


                {% endblock content %}
                <!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright">  &copy; <script>document.write(new Date().getFullYear());</script> GameOn Partners. Developed by <a target="_blank" href="https://blacktreeng.com"> BlackTree </a>
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item dropup">
                                        <a herf="#" class="dropdown-toggle  nav-link" data-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                            
                                        </div>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->

    {% block modals %}
    <!-- select region modal -->
    

    {% endblock modals %}
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}?ver=2.9.0"></script>
    <script src="{% static 'assets/js/core_scripts.js' %}?ver=2.9.0"></script>
    <script src="{% static 'assets/js/charts/gd-default.js' %}?ver=2.9.0"></script>
    {% block extra_scripts %}

    {% endblock extra_scripts %}
</body>

</html>