{% extends "core/base.html" %}

{% load static %}
{% load humanize %}


{% block content %}

<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">

            

            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Dashboard  Overview</h3>
                        <div class="nk-block-des text-soft">
                            <p>Overveiw of all revenue on orders and other transactions </p>
                        </div>
                    </div>
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <!-- <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                                    <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-reports"></em><span>Reports</span></a></li> -->
                                  
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->


            {% if request.user.profile.kyc_status == False %}
                <div class="alert alert-warning alert-icon">
                    <em class="icon ni ni-alert-circle"></em> KYC Verification is <strong>pending</strong>. Please  <a href="#" class="alert-link">contact</a> support if this has taken more than 24hours.
                </div>
            {% endif %}

            <div class="nk-block">
                <div class="row g-gs">
                    <div class="col-xxl-7">
                        <div class="row g-gs">
                            <div class="col-lg-7 col-xxl-12">
                                <div class="card card-bordered">
                                    <div class="card-inner">
                                        <div class="card-title-group align-start mb-2">
                                            <div class="card-title">
                                                <h6 class="title">Rental Sales Revenue</h6>
                                        
                                            </div>
                                            <div class="card-tools">
                                                <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title=""></em>
                                            </div>
                                        </div>
                                        <!-- <div  style="height: 40%;">

                                        </div> -->
                                        <div class="align-end gy-3 gx-5 flex-wrap flex-md-nowrap flex-lg-wrap flex-xxl-nowrap">
                                            
                                            <div class="nk-sale-data-group flex-md-nowrap g-4">
                                                <div class="nk-sale-data">
                                                    <span class="amount">₦{{rentalOrderRev|intcomma}} </span>
                                                    <span class="sub-title">On Rentals</span>
                                                </div>
                                                <!-- <div class="nk-sale-data">
                                                    <span class="amount">₦{{shopOrderRev|intcomma}} </span>
                                                    <span class="sub-title">On Shop</span>
                                                </div> -->
                                            </div>

                                           
                                        </div>
                                    </div>
                                </div>


                                <!-- ggdgdgdg -->
                                <div class="card card-bordered">
                                    <div class="card-inner">
                                        <div class="card-title-group align-start mb-2">
                                            <div class="card-title">
                                                <h6 class="title">Shop Sales Revenue</h6>
                                        
                                            </div>
                                            <div class="card-tools">
                                                <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title=""></em>
                                            </div>
                                        </div>
                                        <!-- <div  style="height: 40%;">

                                        </div> -->
                                        <div class="align-end gy-3 gx-5 flex-wrap flex-md-nowrap flex-lg-wrap flex-xxl-nowrap">
                                            
                                            <div class="nk-sale-data-group flex-md-nowrap g-4">
                                                <!-- <div class="nk-sale-data">
                                                    <span class="amount">₦{{rentalOrderRev|intcomma}} </span>
                                                    <span class="sub-title">On Rentals</span>
                                                </div> -->
                                                <div class="nk-sale-data">
                                                    <span class="amount">₦{{shopOrderRev|intcomma}} </span>
                                                    <span class="sub-title">On Shop</span>
                                                </div>
                                            </div>


                                          

                                            
                                            
                                           
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-5 col-xxl-12">
                                <div class="row g-gs">
                                    <div class="col-sm-6 col-lg-12 col-xxl-6">
                                        <div class="card card-bordered">
                                            <div class="card-inner">
                                                <div class="card-title-group align-start mb-2">
                                                    <div class="card-title">
                                                        <h6 class="title">Total Rental Orders</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Total active subscription"></em>
                                                    </div>
                                                </div>
                                                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                    <div class="nk-sale-data">
                                                        <span class="amount">{{rentalOrderCount}}</span>

                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                    <div class="col-sm-6 col-lg-12 col-xxl-6">
                                        <div class="card card-bordered">
                                            <div class="card-inner">
                                                <div class="card-title-group align-start mb-2">
                                                    <div class="card-title">
                                                        <h6 class="title">Total Shop Orders</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Daily Avg. subscription"></em>
                                                    </div>
                                                </div>
                                                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                    <div class="nk-sale-data">
                                                        <span class="amount">{{shopOrderCount}} </span>
    
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .col -->



                </div>
            </div>
            




        </div>
    </div>
</div>

{% endblock content %}