{% extends "core/base.html" %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

{% endblock extra_head%}

{% block content %}

                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="card-aside-wrap">
                                        <div class="card-inner card-inner-lg">
                                            <div class="nk-block-head nk-block-head-lg">
                                                <div class="nk-block-between">
                                                    <div class="nk-block-head-content">
                                                        <h4 class="nk-block-title">Personal Information</h4>
                                                        <div class="nk-block-des">
                                                            <p>Basic info, like your shop name and address, that will appear on the gameon platform.</p>
                                                        </div>
                                                    </div>
                                                    <div class="nk-block-head-content align-self-start d-lg-none">
                                                        <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-block-head -->
                                            <div class="nk-block">
                                                <div class="nk-data data-list">
                                                    <div class="data-head">
                                                        <h6 class="overline-title">Basics</h6>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-col">
                                                            <span class="data-label">Full Name</span>
                                                            <span class="data-value">{{request.user.profile.first_name}} {{request.user.profile.last_name}} </span>
                                                        </div>
                                                        <!-- <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div> -->
                                                        <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                                                    </div><!-- data-item -->
                                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                                        <div class="data-col">
                                                            <span class="data-label">Shop Name</span>
                                                            <span class="data-value">{{request.user.profile.shop_name}}</span>
                                                        </div>
                                                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                                    </div><!-- data-item -->
                                                    <div class="data-item">
                                                        <div class="data-col">
                                                            <span class="data-label">Email</span>
                                                            <span class="data-value">{{request.user.email}}</span>
                                                        </div>
                                                        <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                                                    </div><!-- data-item -->
                                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                                        <div class="data-col">
                                                            <span class="data-label">Phone Number</span>
                                                            <span class="data-value text-soft">{{request.user.profile.phone}} </span>
                                                        </div>
                                                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                                    </div><!-- data-item -->

                                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                                        <div class="data-col">
                                                            <span class="data-label">Profile Picture</span>
                                                            <span class="data-value text-soft">  Update Profile Picture </span>
                                                        </div>
                                                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                                    </div><!-- data-item -->
                                                    
                                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                                        <div class="data-col">
                                                            <span class="data-label">Address</span>
                                                            <span class="data-value"> {{user_ad.street_address}} {{user_ad.apartment_address}} <br>{{user_ad.city}}, {{user_ad.state}}</span>
                                                        </div>
                                                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                                    </div>


                                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                                        <div class="data-col">
                                                            <span class="data-label">Bank Account Details</span>
                                                            <span class="data-value"> {{user_bank.account_name}} {{user_bank.account_number}} <br>{{user_bank.account_bank}}</span>
                                                        </div>
                                                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                                    </div>
                                                </div><!-- data-list -->
                                                
                                            </div><!-- .nk-block -->
                                        </div>
                                        <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                                            <div class="card-inner-group" data-simplebar>
                                                <div class="card-inner">
                                                    <div class="user-card">
                                                        <div>
                                                            <img  src="{% if request.user.profile.photo %}{{request.user.profile.photo.url}}{% endif %}" width="70%" height="auto" alt=""> 
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="lead-text">{{request.user.profile.first_name}}  {{request.user.profile.last_name}}</span>
                                                            <span class="sub-text">{{request.user.email}}</span>
                                                        </div>

                                                        <div class="user-action">
                                                            <div class="dropdown">
                                                                <a class="btn btn-icon btn-trigger mr-n2" data-toggle="dropdown" href="#"><em class="icon ni ni-more-v"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="#" data-toggle="modal" data-target="#profile-edit" ><em class="icon ni ni-camera-fill"></em><span>Change Photo</span></a></li>
                                                                        <li><a href="#" data-toggle="modal" data-target="#profile-edit" ><em class="icon ni ni-edit-fill"></em><span>Update Profile</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div><!-- .user-card -->
                                                </div><!-- .card-inner -->
                                                
                                                <div class="card-inner p-0">
                                                    <ul class="link-list-menu">
                                                        <li><a class="active" href="#"><em class="icon ni ni-user-fill-c"></em><span>Personal Infomation</span></a></li>
                         
                                                    </ul>
                                                </div><!-- .card-inner -->
                                            </div><!-- .card-inner-group -->
                                        </div><!-- card-aside -->
                                    </div><!-- .card-aside-wrap -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->

{% endblock content %}


{% block modals %}


    
    <!-- @@ Profile Edit Modal @e -->
    <div class="modal fade" role="dialog" id="profile-edit">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-lg">
                    <h5 class="title">Update Profile</h5>
                    <ul class="nk-nav nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#personal">Personal</a>
                        </li>
                       
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        <div class="alert alert-info" style="display: none;"></div>
                        <form action="#" method="POST" id="acct_settings" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="tab-pane active" id="personal">
                            <div class="row gy-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="photo">Profile Photo</label> <br>
                                        {{form.photo}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="shop_name">Shop Name</label>
                                        <input type="text" class="form-control form-control-lg" name="shop_name" id="shop_name" value="{{request.user.profile.shop_name}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="phone">Phone Number</label>
                                        <input type="tel" class="form-control form-control-lg" name="phone" value="{{request.user.profile.phone}}" id="phone" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="address_1"> Shop Address </label>
                                        <input type="text" class="form-control form-control-lg" name="address_1" id="address_1" value="{{user_ad.street_address}}" >
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="address_2">Apartmemt Address</label>
                                        <input type="text" class="form-control form-control-lg" name="address_2" id="address_2" value="{{user_ad.apartment_address}}">
                                    </div>
                                </div> -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="city">City  </label>
                                        <input type="text" class="form-control form-control-lg" name="city" id="city" value="{{user_ad.city}}" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="state">State</label>
                                        <input type="text" class="form-control form-control-lg" name="state" id="state" value="{{user_ad.state}}">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="account_bank">Bank Name</label>
                                        <input type="text" class="form-control form-control-lg" name="account_bank" id="account_bank" value="{{user_bank.account_bank}}">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="account_name">Account Name</label>
                                        <input type="text" class="form-control form-control-lg" name="account_name" id="account_name" value="{{user_bank.account_name}}">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="account_number">Account Number </label>
                                        <input type="text" class="form-control form-control-lg" name="account_number" id="account_number" value="{{user_bank.account_number}}">
                                    </div>
                                </div>
                                
                               
                               
                                <div class="col-12">
                                    <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                        <li>
                                            <button type="submit" id="sb_btn" class="btn btn-lg btn-primary">Update Profile</button>
                                        </li>
                                        <li>
                                            <a href="#" data-dismiss="modal" class="link link-light">Cancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .tab-pane -->
                    </form>


                      




                    </div><!-- .tab-content -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->



{% endblock modals %}

{% block extra_scripts %}
<script type="text/javascript">






    function getIp(callback) {
    fetch('https://ipinfo.io/json?token=9f438262432756', { headers: { 'Accept': 'application/json' }})
    .then((resp) => resp.json())
    .catch(() => {
        return {
        country: 'us',
        };
    })
    .then((resp) => callback(resp.country));
    }

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        initialCountry: "auto",
        // separateDialCode: "true",
        geoIpLookup: getIp,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    


    $('#sb_btn').click(function(e){
        e.preventDefault();

        const phoneNumber = phoneInput.getNumber();

        const info = document.querySelector(".alert-info");
        info.style.display = "";
        // info.innerHTML = `Phone number in E.164 format: <strong>${phoneNumber}</strong>`;
      

        document.querySelector("#phone").value = phoneNumber;
        $('#acct_settings').submit();
    });


</script>

<script type="text/javascript">

$('#photo').on('change', function() {
        const fileSize = this.files[0].size / 1024 / 1024
        console.log(fileSize)
        if (fileSize > 4.5){
            console.log('This file size is: ' + fileSize + "MiB");
            this.value = null;
            alert(`Image file size must be less than 4.5mb`);
            
        }        
});

</script>

<script type="text/javascript">
    $('#acct_settings').submit(function(){
    $("#acct_settings :disabled").removeAttr('disabled');
    });
</script>

{% endblock extra_scripts %}