{% extends 'core/base.html' %}
{% load static %}

{% block content %}



  <!-- content @s -->
  <div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">My Shop Orders</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                                            </div>
                                        </li>
                                    
                                
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-tb-list is-separate is-medium mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="oid">
                                    <label class="custom-control-label" for="oid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col"><span>Item Name </span></div>
                            <div class="nk-tb-col"><span>Item Price </span></div>
                            <div class="nk-tb-col tb-col-md"><span>Quantity Ordered</span></div>
                            <div class="nk-tb-col"><span>Status</span></div>
                            
                          

                           
                        </div>


                        {% if orders %}
                        {% for val in orders %}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="oid01">
                                    <label class="custom-control-label" for="oid01"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-lead"><a href="#">#{{val.item.name}}</a></span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-sub">₦{{val.item.price}}</span>
                            </div>

                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub">{{val.quantity}}</span>
                            </div>
                           
                           
                            
                            <div class="nk-tb-col">
                                {% if val.ordered == True %}
                                <span class="tb-lead"> Ordered </span>
                                {% else %}
                                <span class="tb-lead">Pending Settlement</span>
                                {% endif %}
                            </div>
                            
                        </div>
                        {% endfor %}
                        {% endif %}







                    </div><!-- .nk-tb-list -->
                    
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

{% endblock content %}